<div class="flex justify-between py-2">
    <a href="./index.html" class="mx-auto text-center group">
        <i class="fa-solid fa-house text-[18px] group-hover:text-red-600"></i>
        <h3 class="group-hover:text-red-600 font-semibold">Home</h3>
    </a>
    <a href="./booking.html" class="mx-auto text-center group">
        <i class="fa-solid fa-ticket text-[18px] group-hover:text-red-600"></i>
        <h3 class="group-hover:text-red-600 font-semibold">Booking</h3>
    </a>
    <a href="./auth.html" class="mx-auto text-center group">
        <i class="fa-solid fa-user text-[18px] group-hover:text-red-600"></i>
        <h3
            class="group-hover:text-gray-100 text-white text-sm font-semibold bg-gradient-to-r from-[#AA243D] to-[#50264C] px-2 rounded-md py-0">
            Login</h3>
    </a>
    <a href="./contact_us.html" class="mx-auto text-center group">
        <i class="fa-solid fa-comments text-[18px] group-hover:text-red-600"></i>
        <h3 class="group-hover:text-red-600 font-semibold">Contact us</h3>
    </a>
</div>