<div class="w-full h-auto my-10 px-5 bg-[#f4f4f4] border border-[#f6f6f6] shadow-sm hover:shadow-lg">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3 gap-x-16 xl:gap-x-12 pb-5">
    <div>
      <h3 class="font-rubik text-resort font-bold text-xl py-3">
        Discover
      </h3>
      <div class="flex-col justify-between flex">
        <div>
          <a href="#"
            class="text-resort-secondary w-fit group/item hover:text-resort font-rubik text-sm font-medium block py-1 relative">
            Home
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
          <a href="#"
            class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">About
            us
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
          <a href="#"
            class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">Contact
            us
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
        </div>
        <div class="w-fit">
          <a href="#"
            class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">Refund
            Policy
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
          <a href="#"
            class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">
            EMI Policy
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
          <a href="#"
            class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">
            Admin Login
            <div
              class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="sm:px-2">
      <h3 class="font-rubik text-resort font-bold text-xl py-3">Need Help ?</h3>
      <p
        class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
        We are Always here for you! Knock us on Messenger anytime or Call our Hotline (10AM - 10PM).
      </p>
    </div>
    <div>
      <h3 class="font-rubik text-resort font-bold text-xl py-3">Contact</h3>
      <p
        class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
        <span
          class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
          <i class="fas fa-phone-alt"></i> +8801896178150
        </span>
        <span
          class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
          <i class="fas fa-envelope"></i>
          info@resortsbd.com
        </span>
      </p>
      <div class="flex space-x-4">
        <div
          class="h-8 w-8 rounded-full border border-blue-700 flex items-center justify-center hover:bg-blue-700 cursor-pointer group">
          <i class="fab fa-facebook-f text-blue-700 text-sm group-hover:text-white"></i>
        </div>
        <!-- youtube -->
        <div
          class="h-8 w-8 rounded-full border border-red-700 flex items-center justify-center hover:bg-red-700 cursor-pointer group">
          <i class="fab fa-youtube text-red-700 text-sm group-hover:text-white"></i>
        </div>
        <!-- twitter -->
        <div
          class="h-8 w-8 rounded-full border border-blue-400 flex items-center justify-center hover:bg-blue-400 cursor-pointer group">
          <i class="fab fa-twitter text-blue-400 text-sm group-hover:text-white"></i>
        </div>
        <!-- instagram -->
        <div
          class="h-8 w-8 rounded-full border border-red-400 flex items-center justify-center hover:bg-red-400 cursor-pointer group">
          <i class="fab fa-instagram text-red-400 text-sm group-hover:text-white"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full space-y-4 overflow-x-hidden">
    <h3 class="font-rubik text-resort font-bold text-xl">Payment Methods</h3>
    <!-- overflow-scroll hide_scrollbar text-5xl -->
    <div class="grid grid-cols-6 xl:grid-cols-10 xxs:gap-2 sm:gap-1 gap-1">
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-visa text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#212675]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-stripe text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#8DA8D6]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-paypal text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#93256B]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-mastercard text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#3E4D5D]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-discover text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#4593B3]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-amex text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#304d79]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-jcb text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#081FB2]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-diners-club text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#BA1742]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-apple-pay text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#F79D6C]"></i>
      </div>
      <div class="group/icon cursor-pointer"><i
          class="fa-brands text-resort-secondary-light fa-cc-amazon-pay text-3xl sm:text-4xl lg:text-5xl group-hover/icon:text-[#4C193E]"></i>
      </div>
    </div>
    <p class="text-resort-secondary font-rubik text-sm font-normal text-justify block py-1 w-fit">
      &copy; 2024 ResortsBD. All Rights Reserved.
    </p>
  </div>
</div>