<div class="w-full hidden h-auto my-10 px-5 md:block bg-[#f4f4f4] border border-[#f6f6f6] shadow-sm hover:shadow-lg">
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-3 gap-x-16 xl:gap-x-12 pb-5">
        <div>
            <h3 class="font-rubik text-resort font-bold text-xl py-3">Discover</h3>
            <div class="flex justify-between">
                <div>
                    <a href="#"
                        class="text-resort-secondary w-fit group/item hover:text-resort font-rubik text-sm font-medium block py-1 relative">
                        Home
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                    <a href="#"
                        class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">About
                        us
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                    <a href="#"
                        class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">Contact
                        us
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                </div>
                <div class="w-fit">
                    <a href="#"
                        class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">Refund Policy
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                    <a href="#"
                        class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">
                        EMI Policy
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                    <a href="#"
                        class="text-resort-secondary w-fit group/item relative hover:text-resort font-rubik text-sm font-medium block py-1">
                        Admin Login
                        <div class="w-0 group-hover/item:w-full h-1 bg-resort transition-all duration-500 ease-in-out absolute left-0"></div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <h3 class="font-rubik text-resort font-bold text-xl py-3">Need Help ?</h3>
            <p class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
                We are Always here for you! Knock us on Messenger anytime or Call our Hotline (10AM - 10PM).
            </p>
        </div>
        <div>
            <h3 class="font-rubik text-resort font-bold text-xl py-3">Contact</h3>
            <p class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
                <span class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
                    <i class="fas fa-phone-alt"></i> +8801896178150
                </span>
                <span class="text-resort-secondary hover:text-resort font-rubik text-sm font-normal text-justify block py-1 w-fit">
                    <i class="fas fa-envelope"></i>
                    info@resortsbd.com
                </span>
            </p>
            <div class="flex space-x-4">
                <div class="h-8 w-8 rounded-full border border-blue-700 flex items-center justify-center hover:bg-blue-700 cursor-pointer group">
                    <i class="fab fa-facebook-f text-blue-700 text-sm group-hover:text-white"></i>
                </div>
                <!-- youtube -->
                <div class="h-8 w-8 rounded-full border border-red-700 flex items-center justify-center hover:bg-red-700 cursor-pointer group">
                    <i class="fab fa-youtube text-red-700 text-sm group-hover:text-white"></i>
                </div>
                <!-- twitter -->
                <div class="h-8 w-8 rounded-full border border-blue-400 flex items-center justify-center hover:bg-blue-400 cursor-pointer group">
                    <i class="fab fa-twitter text-blue-400 text-sm group-hover:text-white"></i>
                </div>
                <!-- instagram -->
                <div class="h-8 w-8 rounded-full border border-red-400 flex items-center justify-center hover:bg-red-400 cursor-pointer group">
                    <i class="fab fa-instagram text-red-400 text-sm group-hover:text-white"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-4">
        <div>
            <h3 class="font-rubik text-resort font-bold text-xl py-3">Payment Methods</h3>
            <div class="grid grid-cols-4 space-y-2 md:grid-cols-8 lg:grid-cols-12 gap-2">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/visa.svg" class="my-2" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/amex.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/mastercard.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/dbbl.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/bkash.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/nagad.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/upay.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/union.svg" width="50" height="40">
                <img src="https://resortsbd.com/new-site/images/svg/payment_methods/tap.svg" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/rocket.png" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/dmoney.png" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/bankasia.png" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/BRAC_Bank_Logo.jpg" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/EBL_Logo.png" width="50" height="40">
                <img src="https://ekpay.gov.bd/assets/newDesigns/banks/city_logo.png" width="50" height="40">
            </div>
        </div>
        <p class="text-resort-secondary font-rubik text-sm font-normal text-justify block py-1 w-fit">
            &copy; 2021 ResortsBD. All Rights Reserved.
        </p>
    </div>
</div>