<div class="flex justify-between py-px xl:py-2">
    <a href="./index.html" class="mx-auto text-center group">
      <i class="fa-solid fa-house text-sm xl:text-base text-resort"></i>
      <h3 class="text-resort font-semibold text-xs">Home</h3>
    </a>
    <a href="./booking.html" class="mx-auto text-center group">
      <i class="fa-solid fa-ticket text-sm xl:text-base group-hover:text-resort"></i>
      <h3 class="group-hover:text-resort font-semibold text-xs">Booking</h3>
    </a>
    <a href="./auth.html" class="mx-auto text-center group">
      <i class="fa-solid fa-user text-sm xl:text-base group-hover:text-resort"></i>
      <h3
        class="group-hover:text-gray-100 text-white text-xs font-semibold bg-gradient-to-r from-[#AA243D] to-[#50264C] px-2 rounded-md py-0">
        Login</h3>
    </a>
    <a href="./contact_us.html" class="mx-auto text-center group">
      <i class="fa-solid fa-comments text-sm xl:text-base group-hover:text-resort"></i>
      <h3 class="group-hover:text-resort font-semibold text-xs">Contact us</h3>
    </a>
    <a href="./contact_us.html" class="mx-auto text-center group">
      <i class="fa-solid fa-handshake text-sm xl:text-base group-hover:text-resort"></i>
      <h3 class="group-hover:text-resort font-semibold text-xs">
        Policy
      </h3>
    </a>
  </div>