<div
    class="w-full hidden h-auto xl:h-48 px-5 md:flex flex-col sm:flex-row bg-[#f4f4f4] border border-[#f6f6f6] shadow-sm hover:shadow-lg">
    <div class="py-3 w-full">
        <h1 class="text-sm font-rubik font-medium text-[#173C6C]">Company Useful Links</h1>
        <div class="flex justify-evenly w-full py-2 pc_footer">
            <button class="border-resort py-1"><span>Company Information </span><i
                    class="fa-solid fa-sort-up mt-1"></i></button>
            <button class="border-resort py-1"><span>Investor Relations </span><i
                    class="fa-solid fa-sort-up mt-1"></i></button>
            <button class="border-resort py-1"><span>Partner With ResortsBD </span><i
                    class="fa-solid fa-sort-up mt-1"></i></button>
            <button class="border-resort py-1"><span>ResortsBD for business </span><i
                    class="fa-solid fa-sort-up mt-1"></i></button>
        </div>
        <div class="pc_footer_content w-full bg-[#32609c]">
            <div class="hidden h-0 duration-500 ease-in-out transition-all w-full text-white company_information  p-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magnam dolor soluta ducimus, accusamus
                tempore sed dolorum corrupti iusto saepe et quas ea, eligendi repellat earum? Accusamus incidunt
                veritatis necessitatibus?
            </div>
        </div>
    </div>
</div>