<div class="max-w-7xl mx-auto">
    <div class="flex justify-between">
        <div class="flex flex-col md:flex-row space-x-17 xl:space-x-16 py-2 mx-auto md:mx-0">
            <a href="./index.html" class="mx-auto pl-10 md:pl-0 md:mx-0">
                <img src="./assets/images/logo.png" alt="logo" class="w-auto h-10 md:h-12">
            </a>
            <div class="nav-icon">
                <a href="./index.html" class="group w-14 md:w-10">
                    <div class="box bg-resort">
                        <i class="fa-solid fa-house text-white"></i>
                    </div>
                    <i class="fa-solid fa-house text-resort hidden md:block"></i>
                    <h3 class="text-resort left-[6px]">Resorts</h3>
                    <div class="under_line w-14 bg-resort -left-1"></div>
                </a>
                <a href="./boats.html" class="group w-10">
                    <div class="box hover:bg-resort group/icon">
                        <i class="fa-solid fa-ship text-resort-secondary group-hover/icon:text-white"></i>
                    </div>
                    <i class="fas fa-ship group-hover:text-resort text-resort-secondary hidden md:block"></i>
                    <h3 class="group-hover:text-resort text-resort-secondary w-14 -left-[9px] md:-left-[5px]">Boats
                    </h3>
                    <div class="under_line w-0 group-hover:w-10 bg-resort left-0"></div>
                </a>
                <a href="./ships.html" class="group w-10">
                    <div class="box hover:bg-resort group/icon">
                        <i class="fa-solid fa-ship text-resort-secondary group-hover/icon:text-white"></i>
                    </div>
                    <i class="fas fa-ship group-hover:text-resort text-resort-secondary hidden md:block pr-6"></i>
                    <h3 class="group-hover:text-resort text-resort-secondary w-10 -left-0 md:-left-[4px]">Ships</h3>
                    <div class="under_line w-0 group-hover:w-10 bg-resort -left-1"></div>
                </a>
                <a href="./trip.html" class="group w-10">
                    <div class="box hover:bg-resort group/icon">
                        <i class="fa-solid fa-ship text-resort-secondary group-hover/icon:text-white"></i>
                    </div>
                    <i class="fas fa-ship group-hover:text-resort text-resort-secondary hidden md:block pr-6"></i>
                    <h3 class="group-hover:text-resort text-resort-secondary w-10 -left-0 md:-left-[4px]">Trips</h3>
                    <div class="under_line w-0 group-hover:w-10 bg-resort -left-1"></div>
                </a>
            </div>
        </div>
        <div class="hidden md:flex items-center justify-center space-x-2">
            <a class="px-10 group" href="#">
                <img src="http://placehold.it/50x50" alt="join us"
                    class="w-14 h-full rounded-sm group-hover:scale-105 transition-all ease-in-out duration-300">
            </a>
            <ul class="flex">
                <li class="header-account group/account">
                    <a href="#" class="title">My Account</a>
                    <i class="fa-solid fa-caret-down text-resort"></i>
                    <div class="dropdown group-hover/account:h-32 w-0 group-hover/account:w-48">
                        <div class="relative -top-[14px] -right-[10.5rem]"><i
                                class="fa-solid fa-caret-up text-base text-white"></i></div>
                        <div class="relative flex space-x-3 -top-3">
                            <div class="group-hover/account:h-10 group-hover/account:w-10 icon">
                                <i class="group-hover/account:flex hidden fa-solid fa-user-large"></i>
                            </div>
                            <div>
                                <div class="hidden group-hover/account:flex group/iconName details">
                                    <i
                                        class="fa-solid fa-caret-right group-hover/iconName:text-resort-secondary group-hover/iconName:translate-x-2"></i>
                                    <h3
                                        class="group-hover/iconName:text-resort-secondary group-hover/iconName:translate-x-2">
                                        User
                                        Name</h3>
                                </div>
                                <div class="hidden group-hover/account:flex group/iconName details">
                                    <i
                                        class="fa-solid fa-caret-right group-hover/iconName:text-resort-secondary group-hover/iconName:translate-x-2"></i>
                                    <h3
                                        class="group-hover/iconName:text-resort-secondary group-hover/iconName:translate-x-2">
                                        My
                                        Booking</h3>
                                </div>
                            </div>
                        </div>
                        <div class="button-content group-hover/account:flex hidden">
                            <a href="./auth.html" class="login">Login</a>
                            <a href="./auth.html" class="signUp">Sign Up</a>
                        </div>
                    </div>
                </li>
                <li class="mr-4">
                    <a href="#"
                        class="text-gray-600 text-sm transition-all duration-500 ease-in-out font-medium hover:text-gray-800">
                        Support
                    </a>
                </li>
                <li class="mr-4">
                    <a href="#"
                        class="text-gray-600 text-sm transition-all duration-500 ease-in-out font-medium hover:text-gray-800">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>