@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    height: auto;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.hide_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}




.selectBtn,
.checkAvailabilityBtn {
    background: rgb(172, 208, 223);
    background: linear-gradient(90deg, rgba(172, 208, 223, 1) 0%, rgba(23, 60, 108, 1) 0%, rgba(79, 131, 199, 1) 42%, rgba(66, 87, 115, 1) 99%);
}

.unAvailabileBtn{
    background: rgb(255, 140, 114);
    background: linear-gradient(90deg, rgb(223, 186, 172) 0%, rgb(108, 23, 23) 0%, rgb(199, 79, 79) 42%, rgb(115, 68, 66) 99%);
}

.confirmBtn {
    background: rgb(172,208,223);
background: linear-gradient(164deg, rgba(172,208,223,1) 0%, rgba(117,153,204,1) 0%, rgba(47,66,150,1) 79%, rgba(66,87,115,1) 99%);
}

/* remove increment and decrement btn from input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom_box-shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

.custom_focus:focus {
    outline: none;
    box-shadow: 0px 0px 14px #8eb5e4;
    -moz-box-shadow: 0px 0px 14px #8eb5e4;
    -webkit-box-shadow: 0px 0px 14px #8eb5e4;
}

.flagwave {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-image: -webkit-gradient(linear, 50% 30%, 100% top, color-stop(0%, rgba(204, 99, 40, 0)), color-stop(25%, rgba(250, 250, 250, 0.3)), color-stop(50%, rgba(204, 99, 40, 0)));
    background-size: 200%;
    background-position: right;
    animation: flagwave 2.5s linear infinite;
}



@keyframes flagwave {
    0% {
        left: -10px;
    }

    100% {
        left: 85%;
    }
}





/*-- Animated CSS --*/
@-webkit-keyframes play-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes play-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


@layer components {



    .nav {
        @apply shadow-sm w-full h-auto md:h-[4.2rem] sticky top-0 bg-white z-50;
    }

    .nav-icon {
        @apply flex space-x-10 lg:space-x-12 xl:space-x-14 py-3;
    }

    .nav-icon a {
        @apply flex flex-col mx-auto text-center cursor-pointer relative mt-2;
    }

    .nav-icon h3 {
        @apply text-[14px] md:text-[12px] font-normal absolute -bottom-[16px];
    }

    .nav-icon a i {
        @apply text-[12px] md:text-[14px] ml-2;
    }

    .nav-icon .under_line {
        @apply h-1 transition-all duration-500 ease-in-out absolute -bottom-6;
    }

    .nav-icon .box {
        @apply md:hidden h-9 w-9 rounded-full shadow-md mx-auto border-[1px] border-resort-secondary flex justify-center mb-2;
    }

    .nav-icon .box i {
        @apply text-[12px] flex items-center justify-center mx-auto h-full;
    }

    .header-account {
        @apply mr-4 space-x-2 relative;
    }

    .header-account .title {
        @apply text-gray-600 text-sm transition-all duration-500 ease-in-out font-medium hover:text-gray-800;
    }

    .header-account .dropdown {
        @apply absolute top-9 bg-white custom_box-shadow transition-all duration-300 ease-in-out h-0 -left-[5.5rem];
    }

    .header-account .dropdown .icon {
        @apply h-0 w-0 rounded-full border border-resort-secondary flex items-center justify-center ml-4;
    }

    .header-account .dropdown .icon i {
        @apply transition-all duration-300 ease-in-out text-resort-secondary items-center justify-center h-auto w-auto;
    }

    .header-account .dropdown .details {
        @apply transition-all duration-500 ease-in-out space-x-2 cursor-pointer;
    }

    .header-account .dropdown .details i {
        @apply text-resort-secondary/30 duration-500 ease-in-out transition-all;
    }

    .header-account .dropdown .details h3 {
        @apply text-sm font-normal font-rubik text-resort-secondary/80 duration-500 ease-in-out transition-all;
    }

    .header-account .dropdown .button-content {
        @apply relative right-3 transition-all duration-500 ease-in-out space-x-1 justify-center w-full mx-auto;
    }

    .header-account .dropdown .button-content .login {
        @apply flex items-center justify-center transition-all duration-500 ease-in-out bg-[#2e4c74] hover:bg-resort text-white font-rubik font-medium h-8 w-14 mx-auto mt-3 text-xs;
    }

    .header-account .dropdown .button-content .signUp {
        @apply flex items-center justify-center transition-all duration-500 ease-in-out text-resort border-[2px] hover:bg-resort hover:text-white border-resort font-rubik font-medium h-8 w-16 mx-auto mt-3 text-xs;
    }

    .form-control {
        @apply block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:border-blue-500 focus:ring cursor-pointer font-rubik text-[#333333];
    }

    .pc_footer button {
        @apply text-xs font-rubik text-[#666666] hover:text-resort font-normal tracking-wider flex items-center justify-center space-x-2;
    }


    /* auth buttons */
    .authActiveBtn {
        @apply py-2 text-white font-rubik text-sm font-normal cursor-pointer bg-resort px-4;
    }

    .authInactiveBtn {
        @apply py-2 text-resort hover:bg-resort hover:text-white duration-300 ease-in-out transition-all font-rubik text-sm font-normal cursor-pointer border-resort border px-4;
    }


    /* search */
    .search_item{
        @apply w-full h-auto xl:h-48 bg-white shadow-sm hover:shadow-lg;
    }

    .search_item .left_item{
        @apply flex md:hidden justify-between py-px px-3;
    }

    .search_item .left_item div h1{ @apply font-rubik text-xs sm:text-sm lg:text-base font-medium text-stone-700 truncate; }
    .search_item .left_item div h2{ @apply space-x-1; }
    .search_item .left_item div h3{ @apply space-x-1 text-start hidden sm:flex; }

 



}